doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Otro Pug Template
    body
        h1  Pug Template
        
        p   Esto es una prueba pub

        h2  
            a(href="example") example

        div
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eligendi sed ex officiis facilis iure tempora alias reprehenderit eum, fuga repellat similique maxime quos temporibus, assumenda, labore repudiandae obcaecati ratione?

            img(src="images/camiseta1.png", alt="camiseta")            

        h2 Lorem list

        ul
            li Lorem 
            li ipsum
            li dolor 
            li sit 